*{
  margin:0;
  padding:0;
  box-sizing:border-box;  /*this removes the default value of the html tags*/
}
html{
  font-size: 62.5%; /*this converts 1 rem = 10px*/
}

.logo {
  font-size: 3rem;
}

.sm-txt {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom:0.5rem;
}

.login-header{
  display: block;
  position:relative;
  margin-top: 50%;
  transform: translateY(2%);
}